body {
  overflow: hidden; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.el-button--primary {
  background-color: #5077aa !important;
  border-color: #5077aa !important;
}

.table {
  margin-top: 30px;
}

/* 二级路由有侧边栏的最小中心屏幕大小 */
.center-content {
  min-width: 1120px;
}
/* 二级路由没有侧边栏的最小中心屏幕大小 */
.center-nonav-content {
  min-width: 1360px;
}

a {
  color: #637381;
  text-decoration: none;
}

